                                        /* INDEX.HTML */
body {
    margin: 0;
    padding: 0;
    background-color: black;
    overflow-x: hidden;
    font-family: sans-serif;
}
        /* BACKGROUND */
.bgimg {
    height: 100vh;
    background-image: url('images/lamp_1024_1.png');
    background-size: cover;
    background-position: center;
}

/* TOPLINE*/

.topline{
        min-height: 2,99rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        display: flex;
        justify-content: center;
        

        background: hsl(0, 0%, 100% / 0.1);
        backdrop-filter: blur(1rem);
}

.mobile-nav-toggle{
    display: none;
}

nav ul li a {
    display: inline-block;
    padding: 0.625rem;
    text-decoration: none;
    color: #ffffffb2;
}

nav ul {
    list-style: none;
    padding: 0%;
    margin: 0%;
    text-align: center;
}

nav ul li {
    display: inline;
}

.flex{
    display: flex;
    gap: var(--gap, 1rem)
}

        /* HOVER EFFECT (topline) */

.navunderline::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ffffffb2;
    display: block;
    margin: auto;
    transition: 0.35s;
}

.navunderline:hover::after{
    width: 100%;
}

        /* MEDIA */

@media (max-width: 35em) {
    .topline {
        --gap: 2em;

        position: fixed;
        z-index: 1000;
        inset: 0 0 0 30%;

        flex-direction: column;
        padding: min(30vh, 10rem) 2em;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
        
    }

    .topline[data-visible="true"] {
        transform: translateX(0%);
    }

        /* MEDIA ---- MOBILE NAVIGATION MENU */

    .mobile-nav-toggle{
        z-index: 5000;
        position: absolute;

        background-color: transparent;
        
        border: 0;
        width: 1rem;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
        display: block;
    }
}
                                        /* CONTACT.HTML */

.html_contact{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    color: white;
}

.body_contact{
    background: url(images/lamp_1024_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.contact_topline{
    min-height: 2,99rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    display: flex;
    justify-content: center;
    

    background: hsl(0, 0%, 100% / 0.1);
    backdrop-filter: blur(1rem);
}

form{
    background: hsl(0, 0%, 100% / 0.1);
    backdrop-filter: blur(1rem);
    width:640px;
    margin: 50px auto;
    max-width: 80%;
    border-radius: 4px;
    padding: 55px 30px;
}

form .title h2{
    letter-spacing: 6px;
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 8px;
    margin-bottom: 32px;
}

form .half{
    display: flex;
    justify-content: space-between;
}

form .half .item{
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

form label{
    display: block;
    font-size: 13px;
    letter-spacing: 3.5px;
    margin-bottom: 16px;
}

form .half .item input{
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 16px;
    
    height: 44px;
    background: transparent;
    font-size: 17px;
}

form .full{
    margin-bottom: 24px;
}

form .full textarea{
    color: white;
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    outline: 0;
    padding: 12px 16px;
    max-width: 92%;
    min-width: 94%;
    height: 200px;
    font-size: 17px;
}

form .action{
    margin-bottom: 32px;
}

form .action input{
    background: transparent;
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 44px;
    letter-spacing: 3px;
    outline: 0;
    padding: 0 20px 0 22px;
    margin-right: 10px;
}

form .action input[type="submit"]{
    background: white;
    color: black;
}

form .half .item input:focus, form .full textarea:focus, form .action input[type="reset"]:hover{
    background: rgba(255, 255, 255, 0.075);
}

@media (max-width:480px){
    form .half{
        flex-direction: column;
    }
    form .half .item{
        width: 100%;
    }
    form .action{
        display: flex;
        flex-direction: column;
    }
    form .action input{
        margin-bottom: 10px;
        width: 100%;
    }
}

                                        /* SUCCESS.HTML */

.getbacklink{
    color: white;
}

                                 /* PROJECT.HTML */





